@charset "utf-8";
/*
 *投资人样式表 
 */
.navbox{
	background: #FFFFFF;
	height: .8rem;
	line-height: .8rem;
}
.navbox ul{
	display: box;
	display: -webkit-box;
	-webkit-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	box-pack: center;
}
.navbox ul li{
	-webkit-box-flex: 1;
	box-flex: 1;
	width: 100%;
	text-align: center;
	font-size: .28rem;
}
.active{
	color: #cd020c;
}
.shaixuan{
	padding-left: 0.02rem;
}
.version{
	padding: 0.1rem;
	border-bottom:1px solid #d7d6dc ;
}
.versiont{
	display: box;
	display: -webkit-box;
	-webkit-box-align: center;
	box-align: center;
	width: 100%;
	border-bottom:1px solid #d7d6dc ;
}
.versiont .verimg{
	width: 1.6rem;
	height: 1.6rem;
	position: relative;
	overflow: hidden;
	text-align: center;
	border-radius:50%;
    -webkit-border-radius: 50%;
    margin-bottom: .2rem;
}
.versiont .verimg img{
	width: 100%;
	height: 100%;
}
.versiont .vercontent{
	-webkit-box-flex: 1;
	box-flex: 1;
	width: 100%;
	margin:0 0 0 .1rem;
}
.versiont .vercontent .vertitle{
	margin-bottom: .08rem;
}
.versiont .vercontent .vername{
	font-size: .36rem;
	font-weight: 900;
	color: #323232;
	display: inline-block;
}
.versiont .vercontent .vergs{
	font-size: .28rem;
	display: inline-block;
	padding-left: .2rem;
	color: #646464;
}
.versiont .vercontent .verdd{
	float: right;
	color: #8B8B8B;
	line-height: .46rem;
	padding-right: .2rem;
}
.version .vercontent .verlist ul{
	padding-left: .1rem;
}
.version .vercontent .verlist li{
	line-height: .4rem;
	color: #646464;
	font-size: .22rem;
}
.versionb{
	width: 100%;
}
.versionb ol{
	display: box;
	display: -webkit-box;
	-webkit-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	box-pack: center;
	height: .8rem;
}
.versionb ol li{
	-webkit-box-flex: 1;
	box-flex: 1;
	width: 100%;
	text-align: center;
	font-size: .24rem;
	color: #646464;
}
.versionb ol li span{
	display: inline-block;
	border: 1px solid #F44E58;
	padding: .01rem;
	width: .6rem;
	border-radius: .2rem;
}
/*
 * 加载动画
 */
.loading {
	margin: 0 auto;
	border-bottom: 0.1rem solid red;
	border-left: 0.1rem solid red;
	border-right: 0.1rem solid #a6a6a7;
	border-top: 0.1rem solid #a6a6a7;
	border-radius: 100%;
	height: 0.36rem;
	width: 0.36rem;
	-webkit-animation: spin .8s infinite linear;
	-moz-animation: spin .8s infinite linear;
	-ms-animation: spin .8s infinite linear;
	-o-animation: spin .8s infinite linear;
	animation: spin .8s infinite linear;
}
@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-ms-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-o-keyframes spin {
	from {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
.loadingbox {
	padding: .2rem 0;
	display: none;
	width: 100%;
}

/*
 * 底部
 */
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #FFFFFF;
	z-index: 99;
	border-top: 1px solid #EEEEEE;
}
.footer ul{
	display: box;
	display: -webkit-box;
	-webkit-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	box-pack: center;
}
.footer ul li{
	-webkit-box-flex: 1;
	box-flex: 1;
	width: 100%;
	text-align: center;
}
.footer ul li>a{
	display: block;
	padding: .12rem 0;
}
.footer .nav .ih{
	/*background-position-y: -.46rem;*/
	background-position-y: -.46rem;
}
.footer .nav .ispr {
	width: .44rem;
	height: .44rem;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-size: .44rem 3.6rem;
	-webkit-background-size: .44rem 3.6rem;
	-moz-background-size: .44rem 3.6rem;
	-ms-background-size: .44rem 3.6rem;
	-o-background-size: .44rem 3.6rem;
	overflow: hidden;
	margin:  0 auto .08rem;
}
.footer .nav p{
	font-size: .22rem;
	line-height: .8;
	color: #8b8b8b;
	
}
.footer .nav .ic{
	background-position-y: -.92rem;
}

.footer .nav .is{
	background-position-y: -2.28rem;
}
.footer .nav .if{
	background-position-y: -3.18rem;
}